body {
  background: #27292c;
  margin-top: 2em;

  font-family: 'Roboto', sans-serif;
}

main {
  padding: 2em;
  margin: 0 auto;
  background: #3a5060;
  max-width: 650px;
  height: 500px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 244);
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 2em;
}


.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px #e2e7ff;
}